@charset "UTF-8";

/* ベーススタイル　globals.cssへ==========*/

/* コンテンツエリア　==========*/
.ly_topcont {
  max-width: 1230px;
  padding: 60px 15px;
  margin-right: auto;
  margin-left: auto;
}

.bl_topcont.ly_cont__col {
  display: flex;
  justify-content: space-between;
}

/* カラムネスト*/
.ly_cont {
  padding: 60px 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 767px) {
  .ly_topcont,
  .ly_cont {
    max-width: 100%;
    padding: 30px 15px;
  }
}

@media (max-width: 767px) {
  .bl_topcont.ly_cont__col,
  .bl_media.ly_cont__col {
    flex-direction: column; /* カラム配置に変更 */
  }
}

.hp_bgcBase__orange {
  background-color: #f0e9e4 !important;
}

.bl_card_body {
  padding: 10px;
}

.bl_media.ly_cont__col {
  display: flex;
  justify-content: space-between;
}

.bl_media_imgWrapper {
  padding: 10px;
}

/* リバース2カラム 右左逆ver*/
.bl_media.bl_media__rev {
  flex-direction: row-reverse;
}

.hp_bgcBase__gray {
  background-color: #efefef !important;
}

/* ---1 cta-s-*/
.bl_cta {
  padding: 30px;
  background-color: rgba(221, 116, 44, .05);
  border: 1px solid #e25c00; /* 四角枠ボーダー*/
  text-align: center;
}

.bl_cta > *:last-child {
  margin-bottom: 0;
}

.bl_cta_ttl {
  padding-bottom: 10px;
  margin-top: -6px;
  margin-bottom: 40px;
  border-bottom: 1px solid currentColor;
  color: #e25c00;
  font-size: 1.5rem;
  font-weight: bold;
}

/* ---1 -s-*/
.bl_vertPosts_header > *:last-child {
  margin-right: 0;
}

.bl_vertPosts_date {
  margin-right: 10px;
}

.bl_vertPosts_labels {
  display: inline-flex;
  flex-wrap: wrap;
  margin-bottom: -10px;
  padding-left: 0;
  list-style-type: none;
}

.bl_vertPosts_labels > *:last-child {
  margin-right: 0;
}

.bl_vertPosts_labels > li {
  margin-right: 10px;
  margin-bottom: 10px;
}

.bl_vertPosts_item {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
}

.bl_vertPosts_item:first-child {
  padding-top: 0;
}

.bl_vertPosts_header {
  margin-bottom: 10px;
}

.bl_vertPosts_ttl:focus,
.bl_vertPosts_ttl:hover {
  text-decoration: underline;
}

/* ---1 汎用class部-s-*/
.el_label {
  display: inline-block;
  padding: .2em .3em;
  background-color: #e25c00;
  color: #fff;
  font-size: .75rem;
  font-weight: bold;
}


/* ---1 -s-*/
.bl_cta_txt {
  margin-bottom: 40px;
}

/* ---1 ボタン汎用基本部-s-*/
.el_btn {
  display: inline-block;
  width: 300px;
  max-width: 100%;
  padding: 20px 10px;
  background-color: #e25c00;
  border: 2px solid transparent;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
  color: #fff;
  font-size: 1.125rem;
  text-align: center;
  text-decoration: none;
  transition: .25s;
}

.el_btn:focus,
.el_btn:hover {
  background-color: #fff;
  border-color: currentColor;
  color: #e25c00;
}

/* 右カード*/
.bl_cardUnit {
  flex-wrap: wrap;
}

.bl_cardUnit.bl_cardUnit__col3 {
  margin-bottom: -30px;
}

.bl_cardUnit__col3 > .bl_card {
  margin-bottom: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

